@media (prefers-color-scheme: light) {
    body{
        background-color: #ffffff;
        text-align: center;
    }

    div{
        background-color: black;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
    }
    
    a{
        outline: none;
        text-decoration: none;
        color: white;
    }
    
    h3{
        display: inline;
        margin: 30px;
    }

    #text{
        text-align: center;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
    }

    code{
        background-color: #eee;
        border-radius: 3px;
        font-family: courier, monospace;
        border: 1px black solid;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1B1B1F;
        text-align: center;
    }

    div{
        background-color: #ffffff;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        display: flex;
        justify-content: center;
    }
    
    a{
        outline: none;
        text-decoration: none;
        color: black;
    }
    
    h3{
        display: inline;
        margin: 30px;
    }

    #text{
        text-align: center;
        -webkit-text-stroke: 1px #FFF;
        text-stroke: 1px #FFF;
    }

    code{
        background-color: #eee;
        border-radius: 3px;
        font-family: courier, monospace;
    }
}

img{
    display: block;
    margin: 0 auto;
    width: 5%;
    border-radius: 50px;
}