@media (prefers-color-scheme: light) {
    body{
        background-color: #ffffff;
        font-family: M PLUS 2;
    }
    #text{
        text-align: center;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
        vertical-align: 15%;
    }
    
    textarea{
        border: 3px black solid;
        resize: none;
        outline: none;
        width: 50%;
        height: 20em;
        background-color: #ffffff;
        color: #1B1B1F;
        display: block;
        margin: 0 auto;
        border-radius:8px;
        
    }
    
    select{
        display: block;
        margin: 0 auto;
        outline: none;
        text-align: center;
        font-size: 20px;
        width: 205px;
        height: 30px;
        border-radius: 30px;
        background-color: #ffffff;
        color: #1B1B1F;
    }
    
    button{
        display: block;
        margin: 0 auto;
        background-color: #ffffff;
        color: black;
        background: transparent;
        border: black 1px solid;
        outline: none;
        box-shadow: none;
        font-size: 25px;
        border-radius: 30px;
        text-align: center;
    }
    
    img{
        display: block;
        margin: 0 auto;
        width: 5%;
        border-radius: 50px;
    }
    
    /*div{
        background-color: black;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
    }
        */
    
    a{
        outline: none;
        text-decoration: none;
        color: white;
    }
    
    h3{
        display: inline;
        margin: 30px;
    }
    
    #install{
        text-align: center;
        color: black;
    }

    /* ↓placeholderを黒に */
    ::placeholder {color: black;}::-ms-input-placeholder{color: black;}:-ms-input-placeholder{color: black;}
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1B1B1F;
    }

    #text{
        text-align: center;
        -webkit-text-stroke: 1px #FFF;
        text-stroke: 1px #FFF;
    }
    
    textarea{
        border: 3px greenyellow solid;
        resize: none;
        outline: none;
        width: 50%;
        height: 20em;
        background-color: #1B1B1F;
        color: white;
        display: block;
        margin: 0 auto;
    }
    
    select{
        display: block;
        margin: 0 auto;
        outline: none;
        text-align: center;
        font-size: 20px;
        width: 205px;
        height: 30px;
        border-radius: 30px;
        background-color: #1B1B1F;
        color: #ffffff;
    }
    
    button{
        display: block;
        margin: 0 auto;
        background-color: #1B1B1F;
        color: #ffffff;
        background: transparent;
        border: #ffffff 1px solid;
        outline: none;
        box-shadow: none;
        font-size: 25px;
        border-radius: 30px;
        text-align: center;
    }
    
    img{
        display: block;
        margin: 0 auto;
        width: 5%;
        border-radius: 50px;
    }
    /*
    div{
        background-color: #ffffff;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        display: flex;
        justify-content: center;
    }*/
    
    a{
        outline: none;
        text-decoration: none;
        color: black;
    }
    
    h3{
        display: inline;
        margin: 30px;
    }

    #install{
        text-align: center;
        color: white;
    }

    /* ↓placeholderを白に */
    ::placeholder {color: #ffffff;}::-ms-input-placeholder{color: #ffffff;}:-ms-input-placeholder{color: #ffffff;}
}


#splash_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#menu{
  display: inline-block;
  width: 48px;
  vertical-align: -46%;
  cursor: pointer;
}

#menu_window{
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #fff;
    padding: 30px;
    position: fixed;
    top: 30px;
    width: 60%;
    background:#fff;
}





div ul{
    color:#fff;
    list-style: none;

}