
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body{
    background-color: #5da0ff4f; 
    font-family: Zen Maru Gothic;
}
#welcome_text{
    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: 45%;
}
#doc-view{
    display: none;
}
#icon{
    width: 64px;
    border-radius: 50%;
}

#box_1{
    background: aliceblue;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
}

#logo_text{
    font-size: 24px;
    vertical-align: 58%;
    margin-left: 15px;
    margin-right: 15px;

}

nav div{
  background: #0034ff14;
  padding: 10px;
  border-radius: 4px;
}