body{
    background-color: #5da0ff4f; 
}
#welcome_text{
    font-size: 300%;
    font-weight: bold;
}
#doc-view{
    display: none;
}
#icon{
    width: 10%;
    border-radius: 60px;
}

#box_1{
    background: aliceblue;
    padding: 20px;
}